*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
  --white: #ffffff;
  --black: #000;

  --dark-900: #101026;
  --dark-700 : #1D1D2E;

  --GRAY-100: #8A8A8A;
  --GREEN-900: #3fffa3;
  --red-900:#ca464f;
}

button{
  cursor: pointer;
}

a{
  color: rgb(224, 117, 117);
  text-decoration: none;
}

body{
  background: var(--dark-700);
}

body, input, textarea, select, button{
  font: 400 1rem sans-sarif;
}

@media (max-width: 720px){
  html{
    font-size: 87.5%;
  }
}

@media (max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}